<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      </head>

  <body>
    <header class="row">
      <div class="col-4">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            WoW
            <br />
            Lessons
          </div>
        <% end %>
      </div>
      <div class="col-4 slogan">
        Helping new players learn the important lessons in WoW.
      </div>
      <div class="col-4 links">
        <!-- Button trigger modal -->
        <%= link_to 'Add Lesson', '#', data: {toggle: 'modal', target: '#myModal'} %>
        <%= link_to 'About', about_path %>
      </div>
    </header>

        <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledy="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true">x</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Add Your Lesson</h4>
          </div>
          <%= simple_form_for Quote.new do |f| %>
            <div class="modal-body">            
              <%= f.input :saying %>
              <%= f.input :author %>             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Add Lesson', class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <hr class="clear rule"/>

    <br class="clear" />
    
    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "Please Master, can I learn more.", root_path, class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Built by <a href="https://euruswagner.netlify.com">Eurus Wagner</a><br />
            Want to build your own Splurty Web App - <a href="https://online.bootcampspot.com">Learn how to code here.</a>
        </div>
      </div>
    </div>
  </body>
</html>
